.category {
  .menu-item {
    cursor: pointer;

    .inner {
      padding: 4rem 2rem;
      position: relative;
      overflow: hidden;
    }

    .content {
      background-color: rgba(white, 0.5);
      z-index: 5;
      position: relative;
      transition: all 0.2s ease-in-out;
    }

    .image {
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transition: all 0.2s ease-in-out;
    }

    &-large .inner {
      padding-top: 10rem;
      padding-bottom: 10rem;
    }

    &:hover {
      .image {
        transform: scale(1.1);
      }

      .content {
        background-color: white;
      }
    }
  }
}
